// Global
@import "../../base/global";

// Glide JS
@import "../../base/modules/glide/glide-core";
@import "../../base/modules/glide/glide-theme";


.section-page-header {
    .page-header-top {
        height: 40px;
        background-color: $black;
    }

    .page-header-background {
        background-color: red;
        height: 500px;
        @include items-center;
    }
}